* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #223343;
}
header {
  padding: 50px 15px 0px;
}
header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}
.searchbox {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: none;
  background-color: beige;
  border-radius: 10px;
  transition: 0.4s ease-out;
}
.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.results .result {
  width: 33.333333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img {
  width: 100%;
  display: block;
  max-height: 350px;
}

.results .result h3 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px 5px;
}

.not-found {
  margin: 0 15px;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .results .result {
    min-width: 0px;
  }

  .results .result h3 {
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 10px 5px;
  }
  header h1 {
    font-size: 30px;
  }
  .searchbox {
    padding: 8px;
  }
}